<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset = "utf-8">
      <title>Aphelion</title>
      <link rel="" href="" >
   </head>
   <body>
    
      <% for(let i=0; i<appl.length; i++) { %>
         <h1>Applicat id: <%= appl[i].employeeId%></h1>
         <p>title: <%= appl[i].applicationHeader%></p>
         <p>body: <%= appl[i].applicationBody%></p>
         <p><em>from:</em> <%= appl[i].leaveStarts%> ______  <em>to</em>:<%= appl[i].leaveEnds%></p>
         <p>applied on: <%= appl[i].timestampApplication%></p>
         <h3>Remarks : </h3>
         <% for(let j=0; j<appl[i].Remarks.length; j++) { %>
            <p><%=appl[i].Remarks[j]%> <b>at</b>
               <% if(appl[i].applicationStatus == "Pending") { %>
                  <%= appl[i].timestampForward[j]%>
               <% } else { %>
                  <% if(j < appl[i].Remarks.length - 1 ) { %>
                     <%= appl[i].timestampForward[j]%>
                  <% } else { %>
                     <%= appl[i].timestampAccOrRej%>
                  <% } %>
               <% } %>
            </p>
         <% } %>
         <form action="/user/judgeapplication" method="post">
               <div>
                  <input name="applId" type="hidden" value="<%= appl[i]._id%>">
               </div>
               <div>
                  <label for="remarks">Remarks : </label>
                  <input name="remarks" type="text">
               </div>
               <br>
               <div>
                  <button name="status" value="accept">Accept</button>
                  <button name="status" value="reject">Reject</button>
               </div>
               <hr>
         </form>
         
      <% } %>
      <% if(appl.length==0) { %>
         <p>Wohoo ! no application to check for now !</p>
      <% } %>   
      <form method="post" action="/home/logout">
         <button name="logout">Logout</button>
     </form>
   </body>
</html>